<div class="row">
  <div class="col-md-12">
    <div class="arrowsl" *ngIf="!disableBackArrow" (click)="loadPreviousImage();" matTooltip="Previous Image">
      <i class="material-icons">arrow_back_ios</i>
    </div>
    <button mat-mini-fab class="pull-right mat-fab-custom" matTooltip="Delete Image" (click)="deleteImage()"><i class="material-icons">delete</i></button>
    <img mat-card-image src="{{imageUrl}}" alt="Image">
    <div class="arrowsr" *ngIf="!disableForwardArrow" (click)="loadNextImage();" matTooltip="Next Image">
      <i class="material-icons">arrow_forward_ios</i>
    </div>
  </div>
  
</div>