<mat-card class="upload-card">
  <h4>Upload Image</h4>
  <mat-card-content>
    <div class="row">
      <div class="col-md-12">
        <div class="btn btn-default image-preview-input">
          <div class="image-preview border1" *ngIf="imageData">
            <div class="closebtn text-right" matTooltip="Close Image" (click)="close()"><i class="material-icons">close</i></div>
            <img class="preview" [src]="imageData">
            <hr />
          </div>
          <br />
          <input #inputFile type="file" id="uploadImage" (change)="previewFile($event)" accept="image/*" />
          <br />
          <div class="help-block">Only JPG,JPEG,PNG,ICO files allowed.</div>
          <div class="help-block">Max File Size: 1MB</div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-dialog-close (click)="saveImage()">Upload</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-card-actions>
</mat-card>